@media (max-width: 3000px) {
    body {
    }
    [class="page-header"]{
        margin-top:50px;
    }
    h1, h2 {
        color: white;
    }
    [id="ArticleListBlock"]{
        color:white;
    }

    #block {
        margin-top: 40px;
        background-color: #2B2F3E;
        border-radius: 30px;
        color: #fff
    }

    .top {
        color: #fff;
        font-size: 20pt;
        text-align: center;
    }

    .content {
        font-size: 15pt;
        padding-left: 18pt;
        text-align: center;
    }

    #name {
        color: #61DDBC;
    }

    #else-name {
        color: #7792BE
    }

    .btn.btn-default {
        color: #fff;
        background: #E3515D;
        border: none;
        border-radius: 10px;
        padding: 10px 22px;
        font-size: 16px;
        margin-top: 30px;
    }

    .btn.btn-primary {
        color: #fff;
        background: #61DDBC;
        border: none;
        border-radius: 10px;
        padding: 10px 22px;
        font-size: 16px;
        margin-top: 30px;
    }

    .bottom {
        display: inline;
        margin-right: 50px;
    }

    .red {
        cursor: pointer;
        color: #fff;
        background: #E3515D;
        border: none;
        border-radius: 10px;
        padding: 10px 22px;
        font-size: 16px;
        margin-top: 30px;
        text-decoration: none;
    }

    .red:hover{
        color:#fff;
        background-color:#E04452; 
    }

    .red:visited{
        color:#fff;
    }

    .red:active {
        color:#fff;
        background-color:#E04452; 
    }

    .space {
        margin-top: 40px;
    }

    /*GTrend*/
    #gtrend-top {
        width: 250px;
    }

    #gtrend-trend-top {
        width: 550px;
    }

    #gtrend-watch-top {
        width: 170px;
    }

    .gtrend-content {
        width: 550px;
        height: auto;
        word-break: break-all;
    }

    /*Group*/
    #group-join-top {
        width: 100px;
    }

    #group-top {
        width: 520px;
    }


    /*Trend*/
    #trend-top {
        width: 250px;
    }

    #trend-trend-top {
        width: 550px;
    }

    #trend-watch-top {
        width: 170px;
    }

    .trend-content {
        width: 550px;
        height: auto;
        word-break: break-all;
    }

    /*Friend*/
    #friend-top {
        width: 520px;
    }

    #friend-join-top {
        width: 100px;
    }

    /*Pop*/
    #pop-top {
        width: 228px;
    }

    #pop-num-top {
        width: 120px;
    }

    #pop-title-top {
        width: 394px;
    }

    #pop-watch-top {
        width: 170px;
    }

    /*Board*/
    #board-top {
        width: 570px;
    }

    /*Article-top*/
    #article-top {
        width: 285px;
    }

    #article-watch-top {
        width: 170px;
    }

    #article-title-top {
        width: 400px;
    }
}

@media (max-width: 480px) {
    body {
    }
}
