@media (max-width: 3000px) {
    div {
        font-family: Microsoft JhengHei;
    }

    [class="page-header"]{
        margin-top:50px;
    }

    h1, h2, h4 {
        color: white;
    }

    [id="ArticleListBlock"]{
        color:white;
    }

    .page-header {
        color: #fff;
    }

    .create-form {
        color: #fff;
        background-color: #3F3F46;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #3F3F46;
    }

    #block {
        margin-top: 40px;
        background-color: #2B2F3E;
        border-radius: 30px;
        color: #fff;
    }

    .top {
        color: #fff;
        font-size: 20pt;
        text-align: center;
    }

    .content {
        font-size: 15pt;
        padding-left: 18pt;
        text-align: center;
    }

    #name {
        color: #D82F4E;
    }

    #else-name {
        color: #fff;
    }

    .btn.btn-default {
        color: #fff;
        background: #D82F4E;
        border: none;
        border-radius: 10px;
        padding: 10px 22px;
        font-size: 16px;
        margin-top: 30px;
    }

    .btn.btn-primary {
        color: #fff;
        background: #4ECEC4;
        border: none;
        border-radius: 10px;
        padding: 10px 22px;
        font-size: 16px;
        margin-top: 30px;
    }

    .btn.btn-default:hover {
        color: #fff;
        background-color: #c12541;
    }

    .btn.btn-default:visited {
        color: #fff;
    }

    .btn.btn-default:active {
        color: #fff;
        background-color: #c12541;
    }

    .btn.btn-primary:hover {
        color: #fff;
        background-color: #37c8bc;
    }

    .btn.btn-primary:visited {
        color: #fff;
    }

    .btn.btn-primary:active {
        color: #fff;
        background-color: #37c8bc;
    }

    .bottom {
        display: inline;
        margin-right: 50px;
    }

    .red {
        cursor: pointer;
        color: #fff;
        background: #D82F4E;
        border: none;
        border-radius: 10px;
        padding: 10px 22px;
        font-size: 16px;
        margin-top: 30px;
        text-decoration: none;
    }

    .red:hover{
        color:#fff;
        background-color:#c12541; 
    }

    .red:visited{
        color:#fff;
    }

    .red:active {
        color:#fff;
        background-color:#c12541; 
    }

    .space {
        margin-top: 40px;
    }

    .article-content {
        word-break: break-all;
    }

    .message-block {
        padding: 15px 0px 15px;
        margin-top: 40px 0px 40px;
        background-color: #2B2F3E;
        border-radius: 30px;
        color: #fff
    }

    .message {
        width: 800px;
        word-break: break-all;
    }

    .article {
        margin-top: 40px;
    }

    /*GTrend*/
    #gtrend-top {
        width: 250px;
    }

    #gtrend-trend-top {
        width: 550px;
    }

    #gtrend-watch-top {
        width: 170px;
    }

    .gtrend-content {
        width: 550px;
        height: auto;
        word-break: break-all;
    }

    /*Group*/
    #group-join-top {
        width: 100px;
    }

    #group-top {
        width: 520px;
    }


    /*Trend*/
    #trend-top {
        width: 250px;
    }

    #trend-trend-top {
        width: 550px;
    }

    #trend-watch-top {
        width: 170px;
    }

    .trend-content {
        width: 550px;
        height: auto;
        word-break: break-all;
    }

    /*Friend*/
    #friend-top {
        width: 520px;
    }

    #friend-join-top {
        width: 100px;
    }

    /*Pop*/
    #pop-top {
        width: 228px;
    }

    #pop-num-top {
        width: 120px;
    }

    #pop-title-top {
        width: 394px;
    }

    #pop-watch-top {
        width: 170px;
    }

    /*Board*/
    #board-top {
        width: 570px;
    }

    /*Article-top*/
    #article-top {
        width: 285px;
    }

    #article-watch-top {
        width: 170px;
    }

    #article-title-top {
        width: 400px;
    }
}

@media (max-width: 480px) {
    body {
    }
}
