@media (max-width: 3000px) {
    body {
    }

    [class="page-form"] {
        padding: 20px;
        background-color: #2B2F3E;
        border-radius: 30px;
        width: 350px;
        height: 500px;
        margin: 80px auto 65px;
    }

    .card {
        position: relative;
        background-color: #cf4949;
        margin: 80px auto 65px;
        box-shadow: 0 20px 30px 30px rgba(0,0,0,0.2);
        width: 600px;
        height: 300px;
        border-radius: 87px;
    }

    .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
        float:left;
        margin: 30px 30px;
    }

    [id="container"] {
        position: absolute;
        right:20px;
        width: 300px;
        height: 300px;
    }

    [id="board"] {
        font-size:0.5cm;
        margin-top: 50px;
        color: white;
    }
}

@media (max-width: 480px) {
    body {
    }
}
