* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body .page{
    width: 100%;
}

article {
    margin-top: 220px;
    text-align: left;
}

article h1 {
    font-size: 70px;
    color: #fff;
}

article .btn.btn-default {
    color: #fff;
    background: #7792BE;
    border: none;
    padding: 16px 22px;
    border-radius: 30px;
    font-size: 24px;
    margin-top: 24px;
}

.btn.btn-default:hover {
    background: #425e8a;
}

div .db{
    text-align:center;
    font-size:20px;
    margin-top: 350px;
    margin-bottom: 30px;
}