@media (max-width: 3000px) {
    body {
    }

    .page-form {
        padding: 20px;
        background-color: #2B2F3E;
        border-radius: 30px;
        width: 550px;
        margin: 80px auto 65px;
    }

    h1 {
        width: 100%;
        text-align: center;
        color: white;
    }

    [class="btn btn-outline-secondary btn-block"] {
        margin-top:20px;
        margin-bottom:20px;
    }

    [class="form-horizontal"] {
        color: white;
        width: 500px;
        margin: auto;
    }

    [class="alert alert-warning"] {
        background-color: #2B2F3E;
        border: none;
        margin: 0px;
        height: 80px;
    }

    .form-group #top {
        line-height: 50px;
        width: 500px;
        margin: 30px auto 10px;
    }

    .submit {
        width: 220px;
        margin: auto;
    }

    .create {
        width: 220px;
        margin: 35px auto 30px;
    }

    [class="btn btn-primary"] {
        text-align: end;
        color: #fff;
        background: #4ECEC4;
        border: none;
        padding: 14px 90px;
        border-radius: 30px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    [class="btn btn-default"] {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
        background: #D82F4E;
        border: none;
        padding: 14px 42px;
        border-radius: 30px;
        font-size: 20px;
        margin: auto;
        width: 220px;
    }

    .btn.btn-primary:hover {
        background: #31b4a9;
    }

    .btn.btn-primary:visited {
        color: #fff;
    }

    .btn.btn-primary:active {
        color: #fff;
        background-color: #31b4a9;
    }

    .btn.btn-default:hover {
        background-color: #c12541;
        color: white;
    }

    .btn.btn-default:visited {
        color: #fff;
    }

    .btn.btn-default:active {
        color: #fff;
        background-color: #c12541;
    }

    [class="space"] {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    body {
    }

    [class="form"] {
        background-color: #2B2F3E;
        margin-top: 60px;
        border-radius: 30px;
        width: 100%;
    }

    h1 {
        color: white;
        text-align: center;
        margin-top: 130px;
    }

    [class="form-horizontal"] {
        color: white;
    }

    [class="alert alert-warning"] {
        background-color: #2B2F3E;
        border: none;
    }

    [class="form-group"] {
        line-height: 55px;
    }

    [class="btn btn-primary"] {
        text-align: center;
        color: #fff;
        background: #7792BE;
        border: none;
        padding: 14px 90px;
        border-radius: 30px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    [class="btn btn-default"] {
        margin-top: 20px;
        text-align: center;
        color: #fff;
        background: #61DDBC;
        border: none;
        padding: 14px 42px;
        border-radius: 30px;
        font-size: 20px;
    }

    [class="space"] {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}