@media (max-width: 3000px) {
    #left button {
        font-size: 20px;
        color: white;
        margin: auto;
        padding: 10px;
    }

        #left button li {
            float: left;
            width: 50px;
            line-height: 2em;
        }

    #right button {
        margin: auto;
        padding-right: 10px;
        list-style: none;
    }

        #right button li {
            float: left;
            width: 50px;
            line-height: 2em;
        }
}

@media (max-width: 480px) {
    body {
    }
}
