@media (max-width: 3000px) {
    body {
    }

    .page-form {
        padding: 20px;
        background-color: #2B2F3E;
        border-radius: 30px;
        width: 550px;
        margin: 80px auto 30px;
    }

    h1 {
        width: 100%;
        text-align: center;
        color: white;
    }

    [class="form-horizontal"] {
        color: white;
        width: 500px;
        margin: auto;
    }

    [class="alert alert-warning"] {
        background-color: #2B2F3E;
        border: none;
        margin: 0px;
        height: 80px;
    }

    .form-group #top {
        line-height: 50px;
        width: 500px;
        margin: 30px auto 10px;
    }

    .submit {
        width: 220px;
        margin: 30px auto;
    }

    [class="btn btn-primary"] {
        text-align: end;
        color: #fff;
        background: #4ECEC4;
        border: none;
        padding: 14px 90px;
        border-radius: 30px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .btn.btn-primary:hover {
        background: #31b4a9;
    }

    .btn.btn-primary:visited {
        color: #fff;
    }

    .btn.btn-primary:active {
        color: #fff;
        background-color: #31b4a9;
    }

    .box1 {
        width: 200px;
        right: 0px;
        float: right;
    }

    .box2 {
        width: 200px;
        right: 0px;        
        text-align:right;
    }

    .login1 {
        color: white;
    }

    .login2 {
        margin-left: auto;
        right: 0;
        color: #D82F4E;
    }

    .login2:hover{
        color: #c12541;
    }

    .login2:active{
        color: #c12541;
    }
}