@Styles.Render("~/Content/boardlist")

<div class="page-header" style="color:#fff">
    <h4>留言</h4>
</div>

<dl class="dl-horizontal message-block">
    @*若資料庫中有文章留言，將會列出文章留言*@
    @if (!Model.DataList.Count.Equals(0))
    {
        foreach (var item in Model.DataList)
        {
            <dt id="name">
                @item.Member.Name：
            </dt>
            <dd>
                <div class="message">
                    @item.Content
                </div>
            </dd>
        }
    }
    @*若無留言，則印出"尚無留言"*@
    else
    {
        <dt></dt>
        <dd>
            尚無留言
        </dd>
    }
</dl>