
@{
    ViewBag.Title = "家族";
}

@Styles.Render("~/Content/login")
<body style="background-color:#1B1E28;">

    <div class="page-form">
        <h1>家族</h1>
        <button type="button" class="btn btn-outline-secondary btn-block" onclick="location.href='/FamList/Index'">家族列表</button>

        <button type="button" class="btn btn-outline-secondary btn-block" onclick="location.href='/FamMemb/Index'">家族動態</button>
    </div>
</body>