
@{
    ViewBag.Title = "家族";
}


<body style="background-color:#1B1E28;">
    <h1 style="margin-top:50px; color: white;">家族</h1>

    <hr />
    <button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/FamList/Index'">家族列表</button>

    <button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/FamMemb/Index'">家族動態</button>
</body>