
@{
    ViewBag.Title = "家族功能";
}
<body style="background-color:#1B1E28;">
    <h2>家族功能選單</h2>

    <button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/FamList/Index'">家族列表</button>

    <button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/FamMemb/Index'">家族動態</button>
</body>