* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body .page{
    width: 100%;
}

article {
    margin-top: 220px;
    text-align: left;
}

article h1 {
    font-size: 180px;
    color: #00ff21;
}

article .btn-default {
    color: #00ff21;
    background: #ff6a00;
    border: none;
    padding: 14px 20px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 24px;
}

div .db{
    text-align:center;
    font-size:20px;
    margin-top: 420px;
    margin-bottom: 30px;
}