@{
    ViewBag.Title = "Welcome";
}

@Styles.Render("~/Content/homepage")

<div class="wrapper">
    <!--Alpha-->

    <article>
        <h1>Welcome to TurTalk</h1>
        <a href="/Member/Login" class="btn btn-default">Get Started</a>
    </article>

    <div class="db">
        @*<h4>資料庫狀態</h4>*@
        @*@if (ViewData["DBstatus"].ToString() == "1")
        {
            <font color="#61DDBC">Database connect successfully</font>
        }
        else
        {
            <font color="#F76C82">Database connect failed</font>
        }*@
        <font color="#D82F4E">Your ip address : @ViewData["UserIP"]</font>
    </div>
</div>