@{
    ViewBag.Title = "Welcome";
}

<html>
<head>
	<link href="@Url.Content("~/Content/css/homepage.css")" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: rgba(34, 34, 34, 1)">
	<div class="wrapper">
		<article>
			<h1>Welcome to TurTalk</h1>
			
			<a href="/Member/Register" class="btn btn-default">Get Started</a>
		</article>

		<div class="db">
			@*<h4>資料庫狀態</h4>*@
			@if (ViewData["DBstatus"].ToString() == "1")
			{
				<font color="#61DDBC">Database connect successfully</font>
			}
			else
			{
				<font color="#F76C82">Database connect failed!!</font>
			}
		</div>
	</div>
</body>
</html>