
@{
    ViewBag.Title = "驗證e-mail";
}
@*標題*@
<div class="page-header">
    <h1 style="color:white;">已送出驗證信</h1>
</div>
@*顯示註冊結果訊息*@
<div class="alert alert-success">
    @TempData["RegisterState"]
</div>