@model MyForum.ViewModel.AdvertisementShowView

<div>
    <p style="color:#3F3F46;">請關閉AdBlock</p>
    @foreach (var item in Model.URLs)
    {
        <a href="@item.URL">
            <img src="@Url.Content("~/Ad-Uploads/" + item.PictPath)" alt="ADID=@item.AD_ID">
        </a>
    }
</div>
